PORT=5000
MONGODB_URI=mongodb+srv://opsahuj273_db_user:C2dzywNLbipwdWaQ@cluster0.pll9uuo.mongodb.net/?appName=Cluster0

JWT_SECRET=my secret 45
ADMIN_USERNAME=OPXY
ADMIN_PASSWORD=sahuop52#%G3
TWILIO_ACCOUNT_SID=ADD_YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=ADD_YOUR_TWILIO_AUTH_TOKEN
TWILIO_WHATSAPP_NUMBER=ADD_YOUR_TWILIO_WHATSAPP_NUMBER
OTP_API_KEY=ADD_YOUR_OTP_API_KEY
